<div class="main-body">
  <h1>Banking &amp; Insolvency Litigation</h1>
  <div id="menu">
    <ul class="about-menu">
      <li class="selected">
        <%= link_to_unless_current "Banking Insolvency Litigation", banking_path %>
      </li>
      <li>
        <%= link_to_unless_current "Commercial Corporate Litigation", construction_second_path %>
      </li>
      <li>
        <%= link_to_unless_current "Construction Litigation", construction_second_path %>
      </li>
      <!--
      <tr>
        <td><a href="latest-news.htm">Latest News</a></td>
      </tr>
      -->
      <li>
        <%= link_to_unless_current "Employment Litigation", employment_second_path %>
      </li>
      <li >
        <%= link_to_unless_current "Environmental Litigation", environmental_second_path %>
      </li>
      <li>
        <%= link_to_unless_current "Estate Litigation", estate_second_path %>
      </li>
      <li>
        <%= link_to_unless_current "Tax Litigation", tax_second_path %>
      </li>
      <li>
        <%= link_to_unless_current "Professional Negligence Litigation", professional_second_path %>
      </li>
    </ul>
  </div>
  <div>
    <h2>Practice Description </h2>
        <td><ul>
          <li>	Bankruptcy and Insolvency Act</li>
          <li>	Commercial Creditors Arrangement Act</li>
          <li> Representation of
            <ul>
              <li> Trustees in Bankruptcy </li>
              <li> Receivers</li>
              <li> Lenders</li>
              <li> Creditors</li>
              <li> Debtors </li>
            </ul>
          </li>
        </ul>
  </div>
</div>

