<div class="main-body">
  <h1>Clients and Cases </h1>
  <div id="menu">
    <ul class="about-menu">
      <li>
        <%= link_to_unless_current "Commercial Corporate Litigation", commercial_path %>
      </li>
      <li>
        <%= link_to_unless_current "Construction Litigation", construction_path %>
      </li>
      <!--
      <tr>
        <td><a href="latest-news.htm">Latest News</a></td>
      </tr>
      -->
      <li>
        <%= link_to_unless_current "Employment Litigation", employment_path %>
      </li>
      <li>
        <%= link_to_unless_current "Environmental Litigation", environmental_path %>
      </li>
      <li>
        <%= link_to_unless_current "Estate Litigation", estate_path %>
      </li>
      <li>
        <%= link_to_unless_current "Tax Litigation", tax_path %>
      </li>
      <li>
        <%= link_to_unless_current "Professional Negligence Litigation", professional_path %>
      </li>
    </ul>
  </div>
  <div>
    <p>We take pride in our ability to provide the best legal services to our clients. Often, new clients want to know something about the clients we have represented and continue to represent. We identify, with permission, some of our valued clients.</p>
    <P>All clients understand that the best resolution of their dispute is usually a settlement, not a trial or an arbitration.  Clients also understand that no one can achieve a good settlement unless they are prepared to stand behind their position and demonstrate that they are prepared to go to trial or arbitration if necessary.  Those clients need lawyers who are experienced at trial and arbitration and are not reluctant to proceed if necessary.  Advocates' lawyers are highly experienced and prepared to litigate to the end if necessary; sometimes it is necessary.  </P>
    <P>To view  reported decisions in a specific practice area, <strong>please select from the menu in the upper right. </strong></P>
    <h2><span class="selected">Prominent Clients </span></h2>
     <ul>
          <li>Bles Biochemicals Inc.</li>
          <li> Bondfield Construction</li>
          <li> Bot Construction</li>
          <li> Chinook Global Limited</li>
          <li> Custom Cuisine Catering Limited</li>
          <li> D. Grant &amp; Sons</li>
          <li> Ellis-Don</li>
          <li> Fleetwood Metal Industries Inc.</li>
          <li>Gee Lambert Courneya, Chartered Accountants</li>
          <li> H.I.R.A. General Contractors </li>
          <li> Hume &amp; Johnston, Chartered Accountants</li>
          <li> John Hayman and Sons Construction</li>
          <li> Kingsway Lodge (St. Mary's) Limited </li>
          <li>Lubrico Warranty Inc. </li>
          <li> MacNeill Edmundson LLP, Chartered Accountants</li>
          <li> Obsidian Group Inc.</li>
          <li> Oil &amp; Gas Instruments Inc.</li>
          <li> The Public Utility Commission of the City of London</li>
          <li> R. J. Burnside &amp; Associates</li>
          <li> Roll-Tite Inc.</li>
          <li> Smylie &amp; Crow Associates</li>
          <li> Southland Insurance Service Inc.</li>
          <li> Sutherland-Schultz </li>
          <li> TD Waterhouse - Private Trust</li>
          <li> The Fisher Corporation</li>
          <li> Underground Services Limited</li>
          <li> Vanderwesten &amp; Rutherford Consulting Engineers</li>
          <li> Ward &amp; Uptigrove, Chartered Accountants</li>
          <li> XL Design Professional Insurance</li>
        </ul>
  </div>
</div>

