<div class="main-body">
  <h1>Commercial &amp; Corporate Litigation</h1>
  <div id="menu">
    <ul class="about-menu">
      <li>
        <%= link_to_unless_current "Banking Insolvency Litigation", banking_path %>
      </li>
      <li class="selected">
        <%= link_to_unless_current "Commercial Corporate Litigation", commercial_second_path %>
      </li>
      <li>
        <%= link_to_unless_current "Construction Litigation", construction_second_path %>
      </li>
      <!--
      <tr>
        <td><a href="latest-news.htm">Latest News</a></td>
      </tr>
      -->
      <li>
        <%= link_to_unless_current "Employment Litigation", employment_second_path %>
      </li>
      <li >
        <%= link_to_unless_current "Environmental Litigation", environmental_second_path %>
      </li>
      <li>
        <%= link_to_unless_current "Estate Litigation", estate_second_path %>
      </li>
      <li>
        <%= link_to_unless_current "Tax Litigation", tax_second_path %>
      </li>
      <li>
        <%= link_to_unless_current "Professional Negligence Litigation", professional_second_path %>
      </li>
    </ul>
  </div>
  <div>
    <h2>Practice Description </h2>
      <ul>
          <li>Employment Law </li>
          <li>Commercial Landlord &amp; Tenant Litigation </li>
          <li>Shareholders Disputes </li>
          <li>Commercial Arbitration </li>
          <li>Derivative Actions </li>
          <li>Real Estate Litigation </li>
          <li>Injunctions</li>
          <li>Real Estate Realization </li>
          <li>Syndication Litigation </li>
          <li>Banking Litigation</li>
        </ul>
    <h2>Selected Reported Decisions </h2>
    <p><a href="<%= url_for commercial_path %>">Click to view a list of selected reported decisions. </a></p>
    <!-- InstanceEndEditable -->
  </div>
</div>

