<div class="main-body">
  <h1>Selected Reported Decisions </h1>
  <div id="menu">
    <ul class="about-menu">
      <li class="selected">
        <%= link_to_unless_current "Commercial Corporate Litigation", commercial_path %>
      </li>
      <li>
        <%= link_to_unless_current "Construction Litigation", construction_path %>
      </li>
      <!--
      <tr>
        <td><a href="latest-news.htm">Latest News</a></td>
      </tr>
      -->
      <li>
        <%= link_to_unless_current "Employment Litigation", employment_path %>
      </li>
      <li>
        <%= link_to_unless_current "Environmental Litigation", environmental_path %>
      </li>
      <li>
        <%= link_to_unless_current "Estate Litigation", estate_path %>
      </li>
      <li>
        <%= link_to_unless_current "Tax Litigation", tax_path %>
      </li>
      <li>
        <%= link_to_unless_current "Professional Negligence Litigation", professional_path %>
      </li>
    </ul>
  </div>
  <div>
    <h2><span class="selected">Commercial &amp; Corporate Litigation</span></h2>
    <ul>
      <li><em>Aitken v. Allergy &amp; Respirology Associates</em> ( C.A.) [2004] O.J. No. 2644 </li>
      <li><em>Legue v. Till-Fab Ltd.</em> (2005) 8 C.B.R. (5th) 233, (2005) 6 C.P.C. (6th) 309 </li>
      <li><em>Toronto-Dominion Bank v. Preston Springs Gardens Inc.</em>[2004] O.J. No. 2679, [2004] O.T.C. 535, (2004) 4 C.B.R. (5th) 126</li>
      <li><em>Kaak v. Bank of Montreal</em> ( C.A.) (2003) 6 P.P.S.A.C. (3d) 13 </li>
      <li><em>Country Pork Ltd. v. Ashfield (Township)</em> ( C.A.) (2002) 60 O.R. (3d) 529, (2002) 162 O.A.C. 223, (2002) 31 M.P.L.R. (3d) 1, (2002) 9 R.P.R. (4th) 182 </li>
      <li><em>Gross et al v. Great West Life Assurance Company</em> [2002] A.J. No. 834 </li>
      <li><em>Wolyniuk and Business Development Bank of Canada v. 683032 Ontario Inc.</em> ( C.A.) (2001) 39 R.P.R. (3d) 14, [2001] O.J. No. 482 </li>
      <li><em>Fraser v. Rashmawi (c.o.b. That Car Place) </em> [2001] O.J. No. 3593 </li>
      <li><em>NBD Bank, Canada v. Dofasco Inc.</em> ( C.A.) (1999) 46 O.R. (3d) 514, (1999) 181 D.L.R. (4th) 37, (1999) 127 O.A.C. 338, (1999) 1 B.L.R. (3d) 1, (1999) 15 C.B.R. (4th) 67, (1999) 47 C.C.L.T. (2d) 21, [2000] S.C.C.A. No. 96 </li>
      <li><em>Etna Foods of Windsor Ltd. v. Caradonna</em> (2000) 6 B.L.R. (3d) 127 </li>
      <li><em>RB Williams v. Dominion of Canada Insurance</em> [2000] A.J. No. 496 </li>
      <li><em>Dykstra v. Monture (1999) </em> 47 O.R. (3d) 129 </li>
      <li><em>Dowswell (c.o.b. Dowswell Investments) (Re) </em> [1999] O.J. No. 3239 ( C.A.) </li>
      <li><em>Dykstra v. Monture </em> [1997] O.J. No. 3687 </li>
      <li><em>Canada Deposit Insurance Corp. v. Meiklejohn</em> ( C.A.) [1996] O.J. No. 1148 </li>
      <li><em>Canada Trust v. Sorkos</em> [1996] O.J. No. 2112 ( C.A.) </li>
      <li><em>Dover Corp. ( Canada) Ltd. v. National Automobile Aerospace Transportation and General Workers Union of Canada, Local 27 </em> [1996] O.J. No. 2319 </li>
      <li><em>Falardeau v. Sterling</em> [1995] O.J. No. 3782 </li>
      <li><em>Liberatore v. St. Thomas (City),</em> [1995] O.J. No. 1570 </li>
      <li><em>Hongkong Bank of Canada v. Amormino</em> [1995] O.J. No. 2116 </li>
      <li><em>762057 Ontario Ltd. v. Waterloo</em> [1994] O.J. No. 149 ( C.A.) </li>
      <li><em>Ontario Boiler Ltd. v. Frost </em> [1994] O.J. No. 872 </li>
      <li><em>Pinheiro v. Bowes </em> [1994] O.J. No. 115 (Gen. Div.) </li>
      <li><em>Re Gervais</em> (1993) 23 C.B.R. (3d) 42 </li>
      <li><em>Crazy Lee's (Operating) Ltd. v. Key Property Management (1986) Inc.</em> [1993] O.J. No. 1742 </li>
      <li><em>Peckham v. Wharncliffe Plymouth Chrysler Ltd. </em> [1993] O.J. No. 1815 </li>
      <li><em>Magical Waters Fountains Ltd. v. Sarnia (City)(1992) </em> 8 O.R. (3d) 689 ( C.A.) </li>
      <li><em>Key Property Management (1986) Inc. v. Royal Bank of Canada</em> (1991) 21 R.P.R. (2d) 235 </li>
      <li><em>Armstrong v. Bank of Montr&eacute;al </em> [1991] O.J. No. 2080 </li>
      <li><em>680004 Ontario Inc. v. Wright</em> [1991] O.J. No. 221 </li>
      <li><em>Curry v. Lazos </em> [1991] O.J. No. 1956 </li>
      <li><em>715326 Ontario Inc. v. Fatynek </em> [1990] O.J. No. 2369 </li>
      <li><em>Smith v. Heimbecker </em> [1990] O.J. No. 2115 </li>
      <li><em>Magical Waters Fountains Ltd. v. Sarnia (City) (1990) </em> 74 O.R. (2d) 682 </li>
      <li><em>R.A. Keane Enterprises Ltd. v. Drago's Place Ltd. </em> [1990] O.J. No. 673 ( Dist. Ct.) </li>
      <li><em>Smart Woman Ltd. v. Key Property Management Ltd.</em> (1987) 44 R.P.R. 75 ( Dist. Ct.) </li>
      <li><em>Earnslaw Ltd v. Schmalfeld </em> [1989] 33 C.P.C. (2d) 268 </li>
    </ul>
  </div>
</div>

