<div class="main-body">
  <div class="left-side">
    <h1>Contact Hall & Johnson</h1>
    <h2>Hall & Johnson LLP</h2>
    <p>13th Floor, One London Place<br/>
    255 Queens Avenue<br/>
     London, Ontario N6A 5R8</p>

    <p><strong>Tel:</strong> +1 (226) 887 8665<br>
      <strong>Fax:</strong> +1 (226) 270 0306<br>
    <h2>Contact form</h2>
    <%= form_for Message.new do |f| %>
        <div class="field">
          <%= f.label :name %><br />
          <%= f.text_field :name %>
        </div>
        <div class="field">
          <%= f.label :email %><br />
          <%= f.text_field :email %>
        </div>
        <div class="field">
          <%= f.label :phone_number %><br />
          <%= f.phone_field :phone_number %>
        </div>
        <div class="field">
          <%= f.label :content, "Message" %><br />
          <%= f.text_area :content, :rows => 6 %>
        </div>
        <div class="actions"><%= f.submit "Send Message" %></div>
    <% end %>
  </div>
  <div class="right-side">
    <%= image_tag "bg-contact.jpg" %>
  </div>
  <div class="clear"></div>
</div>

