<div class="main-body">
  <h1>Selected Reported Decisions </h1>
  <div id="menu">
    <ul class="about-menu">
      <li>
        <%= link_to_unless_current "Commercial Corporate Litigation", commercial_path %>
      </li>
      <li>
        <%= link_to_unless_current "Construction Litigation", construction_path %>
      </li>
      <!--
      <tr>
        <td><a href="latest-news.htm">Latest News</a></td>
      </tr>
      -->
      <li class="selected">
        <%= link_to_unless_current "Employment Litigation", employment_path %>
      </li>
      <li>
        <%= link_to_unless_current "Environmental Litigation", environmental_path %>
      </li>
      <li>
        <%= link_to_unless_current "Estate Litigation", estate_path %>
      </li>
      <li>
        <%= link_to_unless_current "Tax Litigation", tax_path %>
      </li>
      <li>
        <%= link_to_unless_current "Professional Negligence Litigation", professional_path %>
      </li>
    </ul>
  </div>
  <div>
    <h2><span class="selected">Employment Litigation</span></h2>
    <ul>
      <li><em> Findlater v. Lumsden Brothers Ltd. </em> [1998] O.J. No. 4503 </li>
      <li><em>Chapman v. 3M Canada Inc.</em> [1997] O.J. No. 928 ( C.A.) </li>
      <li><em>S.R. Metal Impregnation ( Ontario) Ltd. v. C &amp; C Coatings Ltd</em> , [1997] O.J. No. 4981 </li>
      <li><em>S.R. Metal Impregnation ( Ontario) Ltd. v. C &amp; C. Coatings Ltd,</em> [1997] O.J. No. 5412 </li>
      <li><em>Chapman v. 3M Canada Inc.</em> [1995] O.J. No. 4564 (Gen. Div.) </li>
      <li><em>Egerton Associates Ltd. v. Lyons</em> [1991] O.J. No. 1603 </li>
      <li><em>Slavin v. Canada Trust</em> [1991] O.J. No. 483 ( Div. Ct.) </li>
      <li><em>Burke v. CAW </em> [1990] O.J. No. 1198 (Gen. Div.) </li>
    </ul>
  </div>
</div>

