<div class="main-body">
  <h1>Selected Reported Decisions </h1>
  <div id="menu">
    <ul class="about-menu">
      <li>
        <%= link_to_unless_current "Commercial Corporate Litigation", commercial_path %>
      </li>
      <li>
        <%= link_to_unless_current "Construction Litigation", construction_path %>
      </li>
      <!--
      <tr>
        <td><a href="latest-news.htm">Latest News</a></td>
      </tr>
      -->
      <li>
        <%= link_to_unless_current "Employment Litigation", employment_path %>
      </li>
      <li class="selected">
        <%= link_to_unless_current "Environmental Litigation", environmental_path %>
      </li>
      <li>
        <%= link_to_unless_current "Estate Litigation", estate_path %>
      </li>
      <li>
        <%= link_to_unless_current "Tax Litigation", tax_path %>
      </li>
      <li>
        <%= link_to_unless_current "Professional Negligence Litigation", professional_path %>
      </li>
    </ul>
  </div>
  <div>
    <h2><span class="selected">Environmental Litigation</span></h2>
    <ul>
      <li><em> R. v. Fleetwood Metal Industries</em> , Ontario Court, Provincial Division, August, 2005 </li>
      <li><em>Landequity v. SF Tubing </em> [2003] O.J. No. 2987 </li>
      <li><em>R. v. Acre T. Farms Ltd. and Joseph W. Terpstra</em> , Ontario Court, Provincial Division, 2001 </li>
      <li><em>Knowles v. Ontario (Ministry of Environment and Energy)</em> Ont. Env. App. Bd. - 1997 </li>
      <li><em>R. v. Patricia Farms Limited and Cold Springs Farms Limited</em> , Ontario Court, Provincial Division, 1997 </li>
      <li><em>Three County Recycling and Composting Inc. v. Ontario</em> Ont. Env. App. Bd. - 1996 </li>
      <li><em>East</em><em> Luther Grand Valley (Township) v. Ontario (Minister of Environment and Energy)</em> [1995] O.J. No. 3859 </li>
      <li><em>R. v. Kirkland Lake Power Corp</em> ., Ontario Court, Provincial Division, April 13, 1994 </li>
      <li><em>Laidlaw Environmental Services Ltd. v. Moore (Township)</em> (1993) 12 C.E.L.R. (N.S.) 279, (1993) 19 M.P.L.R. (2d) 30 </li>
      <li><em>Hopkinson, Sky Harbour et al v. Director, Ministry of Environment</em> Ont. Env. App. Bd. - 1993 </li>
      <li><em>R. v. Marbar Holdings Ltd.</em> [1984] B.C.J. No. 1558 (B.C.C.A.) </li>
    </ul>
  </div>
</div>

