<div class="main-body">
  <h1>Selected Reported Decisions </h1>
  <div id="menu">
    <ul class="about-menu">
      <li>
        <%= link_to_unless_current "Commercial Corporate Litigation", commercial_path %>
      </li>
      <li>
        <%= link_to_unless_current "Construction Litigation", construction_path %>
      </li>
      <!--
      <tr>
        <td><a href="latest-news.htm">Latest News</a></td>
      </tr>
      -->
      <li>
        <%= link_to_unless_current "Employment Litigation", employment_path %>
      </li>
      <li>
        <%= link_to_unless_current "Environmental Litigation", environmental_path %>
      </li>
      <li class="selected">
        <%= link_to_unless_current "Estate Litigation", estate_path %>
      </li>
      <li>
        <%= link_to_unless_current "Tax Litigation", tax_path %>
      </li>
      <li>
        <%= link_to_unless_current "Professional Negligence Litigation", professional_path %>
      </li>
    </ul>
  </div>
  <div>
    <h2><span class="selected">Estate Litigation</span></h2>
    <ul>
      <li><em>Belvedere v. Brittain Estate, [2009] O.J. No. 12</em></li>
      <li><em>Egerton v. Appraisal Institute of Canada, [2008] O.J. No. 379</em></li>
      <li><em>Wonsch (Litigation guardian of) v. Wonsch, [2007] O.J. No. 3223</em></li>
      <li><em>Wonsch (Litigation Guardian of) v. Wonsch, 86 O.R. (3d) 81</em></li>
      <li><em>Yamada v. Yamada Estate, [2007] O.J. No. 607</em></li>
      <li><em>Belvedere v. Brittain Estate, [2007] O.J. No. 3067</em></li>
      <li><em>Hutchison v. Hutchison [2006] O.J. No. 3231</em></li>
      <li><em>Blundell v. Milmine [2006] O.J. No. 449</em></li>

      <li><em>Sworik (Guardian of) v. Ware</em> [2005] O.J. No. 5796 </li>
      <li><em>Belvedere v. Brittain (estate Trustee of)</em> [2005] O.J. No. 5106 </li>
      <li><em>Sworik (Guardian of) v. Ware</em> [2005] O.J. No. 3404 </li>
      <li><em>Sherbourne Estate (Re) </em> [2005] O.J. No. 2622 </li>
      <li><em>Belvedere v. Brittain (Estate Trustee of)</em> [2005] O.J. No. 5106 </li>
      <li><em>Ven Den Oetelaar v. Van Den Oetelaar Estate </em> [2004] O.J. No. 1424 </li>
      <li><em>Butler v. Brown </em> [2004] O.J. No. 1481 </li>
      <li><em>Manners v. Charlton </em> [2003] O.J. No. 1604 </li>
      <li><em>Hupka v. Aarts Estate </em> [2003] O.J. No. 742 </li>
      <li><em>Gnidec Estate v. Gnidec</em> [2001] O.J. No. 1100 </li>
      <li><em>McGahan v. McIsaac Estate </em>[2001] O.J. No. 4895</li>
      <li><em>Stone v. Stone </em>[2000] O.J. No. 991 </li>
      <li><em>Davidson v. Sinker </em>[2000] O.J. No. 1314  ( C.A.) </li>
      <li><em>Knight Estate (Re) </em>[1999] O.J. No. 4825 </li>
      <li><em>Stone v. Stone </em> (1999) 46 O.R. (3d) 31 </li>
      <li><em>Weinstein v. Weinstein (Litigation Guardian of) </em> (1997) 35 O.R. (3d) 229 </li>
      <li><em>Vernon v. Dieleman Estate </em>[1997] O.J. No. 1283 ( C.A.) </li>
      <li><em>Weinstein v. Weinstein (Litigation guardian of) </em>[1997] O.J. No. 41</li>
      <li><em>Stone v. Stone </em>[1996] O.J. No. 1206 </li>
      <li><em>Taylor Estate v. McCully</em> (1995) 12 E.T.R. (2d) 131 </li>
      <li><em>Smith Estate v. Smith </em> [1995] O.J. No. 253 (Gen. Div.) </li>
      <li><em>Walden v. Walden Estate </em>[1995] O.J. No. 2199</li>
      <li><em>Ward Estate (Re) </em>[1993] O.J. No. 1918 </li>
      <li><em>McArthur Estate (Re) </em>[1992] O.J. No. 1931 </li>
      <li><em>Vernon v. Dieleman Estate </em>[1992] O.J. No. 1473 </li>
      <li><em>Van Meer v. Van Meer Estate </em>[1992] O.J. No. 588 </li>
      <li><em>McArthur Estate (Re) (1990) </em>1 O.R. (3d) 592 </li>
      <li><em>Martelli v. Martelli</em> [1983] B.C.J. No. 2106 (B.C.C.A.) </li>
      <li><em>Carpenter v. Carpenter</em> [1983] B.C.J. No. 1583 (B.C.C.A.) </li>
      <li><em>Mayor v. Mayor</em> [1983] B.C.J. No. 21 (B.C.C.A.) </li>
      <li><em>Cabrera Estate v. Dhensaw </em> [1982] B.C.J. No. 1122 </li>
    </ul>
  </div>
</div>

