<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
  <meta name="keywords" http-equiv="keywords" content="london ontario lawyer, ontario lawyer, london ontario litigator, ontario litigator, commercial and corporate litigation, construction litigation, environmental litigation, employment litigation, estate litigation, tax litigation, professional negligence litigation">
  <meta name="description" http-equiv="description" content="The litigation law firm of Hall & Johnson, the firm has been a pioneer in the use of integrated computer technology and its application in the practice of law. Advocates restricts its practice to litigation and dispute resolution in the areas of commercial and corporate litigation, construction litigation, environmental litigation, employment litigation, estate litigation, tax litigation and professional negligence litigation.">
  <title>Hall & Johnson - Legal Practitioners, Advocates and Solicitors</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<center>
<%= render "header" %>
  <div id="body">
    <%= yield %>
  </div>
  <%= render "footer" %>
</center>

</body>
</html>
